html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: sans-serif;
}

section {
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: minmax(10px, 120px) 600px 600px minmax(10px, 120px);
  grid-template-rows: min-content;
  justify-content: center;
  margin-inline: auto;
}

.btn {
  font-size: 2rem;
  padding: 1.5rem 3rem;
  background-color: #2639ed;
  color: #ffffff;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
}

.card {
  border-radius: 3rem;
  background-color: #fff;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 3rem;
  gap: 3rem;
  text-align: center;
}

.header {
  margin: 2.5rem 0;
}
.header-nav {
  grid-column: 2/4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-brand {
  font-size: 2.4rem;
}
.nav-brand span {
  font-weight: 400;
}

.nav-items {
  display: flex;
  gap: 4rem;
}

.nav-link {
  font-size: 1.6rem;
  color: #000000;
  font-weight: 600;
  transition: color 0.2s;
}
.nav-link:hover {
  color: #4d4d4d;
}

.hero-content {
  grid-column: 2/3;
  position: relative;
  margin-top: 15rem;
}
.hero-content h1 {
  font-size: 4rem;
  margin-bottom: 3rem;
}
.hero-content p {
  font-size: 1.6rem;
  color: gray;
  margin-bottom: 3rem;
}
.hero-content .content-particle-1 {
  position: absolute;
  bottom: 10rem;
  right: 15rem;
  z-index: -1;
}
.hero-content .content-particle-2 {
  position: absolute;
  bottom: 10rem;
  left: -5rem;
  z-index: -1;
}
.hero-images {
  grid-column: 3/-1;
  padding-bottom: 10rem;
  position: relative;
}
.hero-image {
  height: 51.2rem;
  object-fit: cover;
  border-radius: 0 0 0 10rem;
}
.hero-particle-1 {
  position: absolute;
  top: 0;
  translate: -50%;
  z-index: -1;
}
.hero-particle-2 {
  position: absolute;
  right: 12rem;
  bottom: 0;
  z-index: -1;
}
.hero-particle-3 {
  position: absolute;
  bottom: 4rem;
  translate: -50%;
  z-index: -1;
}

.client-content {
  grid-column: 2/4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
}
.client-content .client-heading h2 {
  font-size: 4rem;
}
.client-content .client-heading p {
  font-size: 1.6rem;
  width: 70%;
  color: gray;
}
.client-content .client-brand {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.help {
  margin: 5rem 0;
}
.help-container {
  max-width: 144rem;
  position: relative;
}
.help-container .help-container-shape-1 {
  position: absolute;
  width: 105rem;
  right: 0;
  top: 50%;
  translate: 0 -50%;
  z-index: -1;
}
.help-container .help-container-shape-2 {
  position: absolute;
  left: 14rem;
  bottom: 5.5rem;
  z-index: -2;
}
.help-container .help-container-shape-3 {
  position: absolute;
  left: 8rem;
  top: 34%;
  rotate: 180deg;
  z-index: -2;
}
.help-content {
  grid-column: 2/3;
  align-self: center;
}
.help-content h2 {
  font-size: 4rem;
}
.help-content p {
  font-size: 1.6rem;
  color: gray;
}
.help-cards {
  grid-column: 3/4;
  display: grid;
  grid-template-columns: 31rem 31rem;
  grid-template-rows: repeat(13, 3.5rem);
  gap: 3rem;
}
.help-cards .card-icon {
  padding: 2rem;
  border-radius: 2rem;
}
.help-cards .card h3 {
  font-size: 2.4rem;
}
.help-cards .card p {
  font-size: 1.6rem;
  color: gray;
}
.help-cards .card-1 {
  grid-column: 1/2;
  grid-row: 2/8;
}
.help-cards .card-1 .card-icon {
  background-color: rgba(38, 58, 237, 0.1);
}
.help-cards .card-2 {
  grid-column: 2/3;
  grid-row: 1/7;
}
.help-cards .card-2 .card-icon {
  background-color: rgba(255, 153, 0, 0.1);
}
.help-cards .card-3 {
  grid-column: 1/2;
  grid-row: 8/14;
}
.help-cards .card-3 .card-icon {
  background-color: rgba(255, 0, 122, 0.1);
}
.help-cards .card-4 {
  grid-column: 2/3;
  grid-row: 7/13;
}
.help-cards .card-4 .card-icon {
  background-color: rgba(0, 218, 113, 0.1);
}

/*# sourceMappingURL=style.css.map */
