body {
  font-family: sans-serif;
}

section {
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: minmax(10px, 120px) 600px 600px minmax(10px, 120px);
  grid-template-rows: min-content;
  justify-content: center;
  margin-inline: auto;
}
